#navbar{
        background-color: #dc5c7f  !important;
        height: 130px;
}

#image{
    height: 500px;
  }
  
  /* .card{
   height: 400px !important;
  } */
  #sary{
    width: 90% !important;
    height: 350px !important;
    border-radius: 5px;
  }
 
  #nav{
    background-color: #dc5c7f  !important;
    height: 130px;
  }
  #connex{
    color: #fafafa;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none !important;
  }
  #connexA{
    color: #fafafa;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none !important;
  }
  .page-footer{
    background-color: #dc5c7f !important;
  }
  #file{
    width: 500px;
    background-color: #fdfafa  !important;
    border-radius: 15px;
  }
  #register{
    background-color: #e0e0e0  !important;
    border-radius: 15px;
  }
  #popup{
    background-color:  #dc5c7f    !important;
    border-radius: 15px;
    width:300px;
    height: 250px;
  }

.more {
  position:relative;
  top: 1.6em;
}
.more-text {
  position:absolute;
  bottom:0.5em;
}
.moins, 
.hidetext,
.more-text:focus .plus{
  display:none;
}
.more-text:focus +.hidetext,
.more-text:focus .moins{
  display:block;
  cursor: pointer;
}
.more-text:focus {
  pointer-events:none;
}
  #afficher {
    display: none;
  }
  #acheter {
    display: none;
  }
  .coock{
    font-size: 5em;
    color: #486f6e ; 
    font-family:'Roboto';
    font-weight:400;
    font-style: italic;
    padding-left: 150px;
  
  }
  .btn1{
    color: white !important;
    background-color:#486f6e !important;
    border-radius: 15px!important;
  }
  #affichage{
    width: 1200px;
  }
  .nav{
    width: 150px;
    /* background-color: #d05c62!important; */
    padding-top: 50px;
  }
  .card1{
    border: 2px solid #486f6e ;
    border-radius: 15px;
  }
  .titre1{
    text-align: center;
    color:#486f6e ;
    font-family:'Roboto';
    font-weight:400;
  }
  .titre2{
    text-align: center;
    font-family: Verdana, sans-serif; 
    font-size: 18px;
    height:3.5em;
    overflow:hidden;
    text-overflow: ellipsis; 

  }
#titre{
  color: #486f6e ;
  font-family:'Roboto';
  font-weight:400;
}
  .titre3{
    text-align: center;
    font-family: Verdana, sans-serif; 
    font-size: 22px;
    color:#6b2a0a;
  }
  #pers{
    color: black;
    font-size: 22px;
  }
  /* #navbar {
    padding-left: 100px
  } */
  #ajoutcuisinier {
    display: none;
  }
  #tableget {
    display: none;
  }
  #botton {
    color: white !important;
    width: 100%;
    font-size: 18px !important
  }
  #spannav{
    text-align: center !;
  }
  .deconex{
    color: white !important;
    background-color: #486f6e  !important;
  }
  #me{
    font-size: 1.2rem;
  }
  #font{
    font-size: 2rem !important;
  }
  #h2{
    margin-top: 20px;
    margin-left: 100px;
    color: #486f6e ;
    font-family:'Roboto';
    font-weight:600;
  }
  #verdana{
    font-family: Verdana, sans-serif; 
    font-size: 1.2rem;
  }
  .card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
#b{
  font-size: 1.5rem !important;
}